@import '../variables.scss';

@font-face {
  font-family: "Linux Libertine";
  src: url('/fonts/LinLibertine_R.otf');
  font-weight: 400;
}

// @font-face {
//   font-family: "Linux Libertine Capitals";
//   src: url('/fonts/LinLibertine_aS.ttf');
// }

@font-face {
  font-family: "Linux Libertine Display";
  src: url('/fonts/LinLibertine_DRah.ttf');
}

html {
  font-size: 22px;
}

body {
  font-family: "Linux Libertine";
  font-weight: 400;
  color: $standard-text-color;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: greyscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans";
  font-weight: 700;
  letter-spacing: -0.03em;
}

h1 {
  margin: 0.25rem 0;
}

h2, h3 {
  margin: 0.5rem 0;
  margin-top: 1rem;
}


p {
  margin-top: 0.5em;
  margin-bottom: 1em;
  em {
    border-width: 0 0 0 0;
    border-bottom: 1px solid rgba(0,0,0,0.35);
    border-style: dashed;
  }
  a {
    font-family: "Josefin Sans";
    line-height: 1.3;
    color: #444;
    transition: color 200ms;
    &:hover {
      color: #000;
    }
  }
  b, strong {
    font-family: "Josefin Sans";
    font-weight: 600;
    line-height: 1.3;
    font-size: 0.9rem;
  }
}

code {
  font-size: 0.8rem;
  background: #f3f3f3;
  display: inline-block;
  padding: 0 0.25rem;
  line-height: 1.4;
}

pre {
  background: #f3f3f3;
}