<div id="blog-site-container">
  <article id=blog-post-article>
    <header>
      <span class="encloser">{</span>
      <h1><%= @post.title %></h1>
      <span class="author">Jesper Fridefors</span>
      <ul class="social">
        <li><a href="/posts/rss.xml">RSS</a></li>
      </ul>
    </header>
    <%= raw(@post.html) %>
  </article>
</div>
