
@import '_sass-material-colors';

@mixin article-grid() {
  display: grid;
  grid-template-columns: 
    [left-margin] minmax(0px, 400px) 0.3fr
    [main-content-gutter-left] 2rem
    [main-content] 300px
    [mid-content] 300px
    [end-content end-image after-image] 100px
    [main-content-gutter-right] 2rem
    [sidebar] 340px
    [right-margin] 1fr [absolute-end];
  grid-auto-rows: min-content;
  @media(max-width: 1140px) {
    max-width: calc(600px + 4rem);
    grid-template-columns:
    [left-margin main-content-gutter-left after-image] 2rem
    [main-content mid-content sidebar] 1fr
    [right-margin main-content-gutter-right] 2rem [end-image absolute-end];
  }
}

#blog-site-container {
  background: #fafafa;
  min-height: 100vh;
}

#blog-post-article {
  min-height: 100vh;
  background: #fff;
  padding: 3rem 0;
  margin: 0 auto;
  //max-width: 1400px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.35);
  @include article-grid();
  & > * {
    grid-column: main-content / main-content-gutter-right;
    //grid-column-end: main-content-end;
  }
  p {
    margin-top: 0;
  }
  .highlight {
    grid-column-start: main-content-gutter-left;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    &:after {
      display: block;
      flex-direction: row;
      content: ' ';
      width: 4px;
      background: cornflowerblue;
    }
  }
  .aside {
    color: #777;
    grid-column: sidebar;
    font-size: 0.85rem;
    &::before {
      font-size: 1rem;
      display: block;
      content: attr(title);
      font-variant: small-caps;
    }
  }
  li:not(:last-child) {
    margin-bottom: 0.5em;
  }
  ol {
    margin-top: 0;
    position: relative;
    padding-left: 0;
    margin-bottom: 1rem;
    list-style-type: upper-roman;
    li {
      padding-left: 0.25rem;
    }
  }
  pre {
    margin-top: 0;
    padding: 1rem 0;
    grid-column: 1 / -1;
    display: inherit;
    grid-template-columns: inherit;
    code {
      padding: 0;
      width: 100%;
      grid-column: main-content / main-content-gutter-right;
    }
    &:after {
      content: attr(description);
      grid-column: sidebar;
      font-family: "Linux Libertine";
      display: flex;
      align-items: center;
      color: #777;
      font-size: 0.85rem;
      margin: 0.5rem 0;
    }
  }
  blockquote {
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
    position: relative;
    p {
      &:before, &:after {
        display: inline;
        font-weight: 700;
        font-size: 2.5rem;
      }
      &:before {
        position: absolute;
        content: "“";
        top: -0.4em;
        left: -0.6em;
      }
      &:after {
        width: 0;
        display: inline-block;
        position: relative;
        line-height: 0;
        content: "”";
        bottom: -0.6em;
        right: -0.2em;
      }
    }
  }
  .image {
    grid-column: left-margin / end-image;
    align-items: center;
    display: flex;
  }
  img {
    object-fit: cover;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.25);
  }
  .image + * {
    padding-top: 1rem;
  }
  .image + .image-p {
    grid-column: after-image / absolute-end;
    margin: auto 2rem;
    justify-items: center;
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    font-size: 0.9rem;
    color: #555;
    &:before {
      content: attr(title);
      font-weight: 700;
      font-family: "Josefin Sans";
      font-size: 1rem;
      color: #333;
    }
  }
}