
$separator: 1px solid #ccc;

#blog-index {
  $border-color: #ccc;
  background: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 500px) 140px minmax(200px, 500px) 1fr;
  grid-auto-rows: min-content;
  grid-auto-flow: row dense;
  background: #f3f3f3;
  grid-row-gap: 2rem;
  h1 {
    grid-column: 2 / 5;
    margin: 0;
    margin-top: 4rem;
  }
  .blog-post {
    padding: 3rem 1rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: #FDDB29;
    border-bottom: 4px solid darken(#FDDB29, 20%);
    small {
      font-weight: 300;
      letter-spacing: 0.05em;
      font-family: "Josefin Sans";
      margin-top: auto;
      color: darken(#FDDB29, 35%);
    }
    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: darken(#FDDB29, 35%);
      }
    }
    h3 {
      font-weight: 400;
    }
    &[count="0"] {
      grid-column: 4 / 5;
      border-right: 4px solid darken(#FDDB29, 20%);
    }
    &[count="1"] {
      grid-column: 2 / 3;
    }
  }
  .description {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid $border-color;
    background: #f9f9f9;
    p {
      margin: auto;
      a {
        display: block;
        margin-top: 0.5rem;
        font-size: 0.8rem;
      }
    }
    &[count="1"] {
      grid-column: 3 / 5;
    }
    &[count="0"] {
      grid-column: 2 / 4;
    }
  }
}