@import '../variables.scss';

#index-navigation {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(9, 127px) 1fr;
  grid-gap: var(--medium-spacing);
  grid-template-rows: 1fr repeat(3, minmax(min-content, 150px)) 80px 1fr;
  grid-template-areas:
    "i i i i i . . . . ."
    "i i i i i m m m m ."
    "i i i i i m m m m ."
    "n n n n n m m m m ."
    "n n n n n m m m m ."
    "n n n n n . . . . .";
  
  & > * {
    box-shadow: $standard-shadow;
  }
  .main-text-block {
    grid-area: m;
    z-index: 3;
    background: #fff;
    padding: var(--big-spacing);
    display: flex;
    flex-direction: column;
    h1 {
      span:first-child {
        color: material-color('blue', 'a700');
      }
      span:nth-child(2) {
        color: material-color('green', 'a700');
      }
    }
    .intro-greeting span {
      border-bottom: 2px solid material-color('blue', 'a100');
      display: inline-block;
      height: calc(100% - 7px);
      text-shadow: 0 2px 0 white, 0 -2px 0 white, 2px 0 0 white, -2px 0 0 white;
    }
    .sign-off {
      padding-top: 2rem;
      align-self: flex-end;
      margin-top: auto;
    }
  }
  .img-block {
    grid-area: i;
    grid-column-end: 8;
    z-index: 0;
    background: url('https://picsum.photos/1000/600/?random');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  nav {
    grid-area: n;
    grid-column-end: 8;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);

    color: white;
    @extend %bg-color-blue-700;
    padding: var(--big-spacing);

    h3 {
      margin: 0;
      @extend %color-blue-100;
    }
    ul {
      position: relative;
      left: -0.5rem;
      list-style: none;
      margin: 0;
      margin-top: 1rem;
      padding: 0;

      display: flex;
      align-items: center;
      flex-direction: row;

      font-family: "Josefin Sans";
      font-size: 1.5rem;
    }
    a {
      @extend %color-blue-50;
      text-decoration: none;
      border-bottom: 4px solid material-color('blue', '300');
      display: inline-block;
      padding: 0 0.5rem;
      margin-right: 0.5rem;
      transition: all 300ms;
      &:hover {
        color: white;
        border-bottom-color: material-color('blue', '50');
      }
    }
  }

  @media(max-width: 1500px) {
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
      "i i i i i . . . . ."
      "i i i i i m m m m m"
      "i i i i i m m m m m"
      "n n n n n m m m m m"
      "n n n n n m m m m m"
      "n n n n n . . . . .";
    .img-block, nav {
      grid-column-end: span 7;
    }
  }
  @media(max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-template-areas: "n" "m";
    grid-template-rows: minmax(200px, min-content) min-content;
    .img-block, .fill {
      display: none;
    }
    nav {
      grid-column-end: 1;
      clip-path: initial;
    }
  }
}