@import '../variables.scss';
@import '_sass-material-colors';

#index-page {
  display: grid;
  grid-template-rows: max-content 1fr;
  min-height: 100vh;
  grid-template-columns: 
    [first-col] min-content 
    [content] 1fr;


  @media screen and (min-width: 800px) {
    h1 .first-name, nav {
      padding-left: 2rem;
    }
    nav {
      padding-right: 1rem;
      background:  material-color('green', '200');
    }
    h1 {
      font-size: calc(2rem + 5vw);
      display: contents;
      .first-name {
        grid-column-start: first-col;
        padding-right: 0.25ch;
      }
      .last-name {
        padding-left: 0.15ch;
      }
      span {
        border-bottom: 0.25em double currentColor;
        line-height: 1.2;
        padding-top: 2rem;
      }
    }
    .last-name, .text-section {
      background: material-color('green', '100');
    }
    .text-section .inner {
      margin-left: 1rem;
    }
  }
  @media screen and (max-width: 799px) {
    grid-template-columns: [first-col content] 1fr;
    padding: 4rem 1.5rem;
    
    h1 {
      font-size: 2.5rem;
      line-height: 1.2;
    }
  }

  nav {
    grid-column-start: first-col;
    ul {
      padding-left: 0;
    }
  }
  .text-section {
    display: flex;
  }
  .text-section .inner {
    max-width: 80ch;
    margin-right: auto;
  }
}